
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>IQMon Results for {{ telescopename }}</title>
    <meta http-equiv="content-type"
    content="text/html; charset=ISO-8859-1">

    <style>
        h2
        {
        text-align:center;
        }
        table
        {
        border-collapse:collapse;
        margin-left: auto;
        margin-right: auto;
        }
        table,th,td
        {
        border:1px solid black;
        vertical-align: top;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        }
    </style>

</head>

<body>

<h2>IQMon Results for {{ telescopename }} for {{ subject }}</h2>

<table>
    <tr>
        <th style="width:150px">Exposure Start<br>(Date and Time UT)</th>
        <th style="width:420px">Image File Name</th>
        <th style="width:50px">Alt (deg)</th>
        <th style="width:50px">Az (deg)</th>
        <th style="width:50px">Airmass</th>
        <th style="width:50px">Moon Sep (deg)</th>
        <th style="width:50px">Moon Illum. (%)</th>
        <th style="width:60px">FWHM ({{ FWHM_units }})</th>
        <th style="width:50px">Ellip.</th>
        <th style="width:70px">Pointing Error (arcmin)</th>
        <th style="width:50px">Zero Point (mag)</th>
        <th style="width:50px">N Stars</th>
        <th style="width:50px">Process Time (sec)</th>
    </tr>

    {% for image in image_list %}
    <tr>
        <td style='text-align:left;'>
            {% if 'exposure_start' in image.keys() %}
                {{ image['exposure start'].strftime('%Y%m%dUT %H:%M:%S') }}
            {% elif 'date' in image.keys() and 'time' in image.keys() %}
                {{ '{} {}'.format(image['date'], image['time']) }}
            {% end %}
        </td>
        <td style='text-align:left;'>
            {% if 'filename' in image.keys() %}
                {% if 'jpegs' in image.keys() %}
                    {% if len(image['jpegs']) > 0 %}
                        <a href="/static/plots/{{ telescope }}/{{ image['jpegs'].pop() }}">{{ image['filename'] }}</a>
                    {% else %}
                        {{ image['filename'] }}
                    {% end %}
                    {% for jpeg in image['jpegs'] %}
                        (<a href="/static/plots/{{ telescope }}/{{ jpeg }}">JPEG</a>)
                    {% end %}
                {% else %}
                    {{ image['filename'] }}
                {% end %}
            {% end %}
            {% if 'PSF plot' in image.keys() %}
                 (<a href="/static/plots/{{ telescope }}/{{ image['PSF plot'] }}">PSF</a>)
            {% end %}
            {% if 'ZP plot' in image.keys() %}
                 (<a href="/static/plots/{{ telescope }}/{{ image['ZP plot'] }}">ZP</a>)
            {% end %}
            {% if 'logfile' in image.keys() %}
                 (<a href="/static/logs/{{ telescope }}/{{ image['logfile'] }}">log</a>)
            {% end %}
        </td>
        <td style='text-align:right;'>
            {% if 'alt' in image.keys() %}
                {{ '{:.1f}'.format(image['alt']) }}
            {% end %}<br>
        </td>
        <td style='text-align:right;'>
            {% if 'az' in image.keys() %}
                {{ '{:.1f}'.format(image['az']) }}
            {% end %}<br>
        </td>
        <td style='text-align:right;'>
            {% if 'airmass' in image.keys() %}
                {{ '{:.2f}'.format(image['airmass']) }}
            {% end %}<br>
        </td>
        <td style='text-align:right;'>
            {% if 'moon separation' in image.keys() %}
                {% if 'moon alt' in image.keys() %}
                    {% if image['moon alt'] < 0 %}
                        down
                    {% else %}
                        {{ '{:.1f}'.format(image['moon separation']) }}
                    {% end %}
                {% end %}
            {% end %}
        </td>
        <td style='text-align:right;'>
            {% if 'moon illumination' in image.keys() %}
                {{ '{:.0f} %'.format(image['moon illumination']) }}
            {% end %}<br>
        </td>

        {% if 'FWHM pix' in image.keys() %}
            {% if image['flags']['FWHM'] %}
                <td style={{ 'text-align:right;background-color:#FF5C33;' }}>
            {% else %}
                <td style={{ 'text-align:right;background-color:#70DB70;' }}>
            {% end %}
            {{ '{:.2f}'.format(image['FWHM pix']*FWHM_multiplier) }}
        {% else %}
        <td>
        {% end %}
        </td>

        {% if 'ellipticity' in image.keys() %}
            {% if image['flags']['ellipticity'] %}
                <td style={{ 'text-align:right;background-color:#FF5C33;' }}>
            {% else %}
                <td style={{ 'text-align:right;background-color:#70DB70;' }}>
            {% end %}
            {{ '{:.2f}'.format(image['ellipticity']) }}
        {% else %}
        <td>
        {% end %}
        </td>

        {% if 'pointing error arcmin' in image.keys() %}
            {% if image['flags']['pointing error'] %}
                <td style={{ 'text-align:right;background-color:#FF5C33;' }}>
            {% else %}
                <td style={{ 'text-align:right;background-color:#70DB70;' }}>
            {% end %}
            {{ '{:.2f}'.format(image['pointing error arcmin']) }}
        {% else %}
        <td>
        {% end %}
        </td>

        {% if 'zero point' in image.keys() %}
            {% if image['flags']['zero point'] %}
                <td style={{ 'text-align:right;background-color:#FF5C33;' }}>
            {% else %}
                <td style={{ 'text-align:right;background-color:#70DB70;' }}>
            {% end %}
            {{ '{:.2f}'.format(image['zero point']) }}
        {% else %}
        <td>
        {% end %}
        </td>

        <td style='text-align:right;'>
            {% if 'n_stars' in image.keys() %}
                {{ '{:d}'.format(image['n_stars']) }}
            {% end %}<br>
        </td>

        <td style='text-align:right;'>
            {% if 'IQMon processing time' in image.keys() %}
                {{ '{:.0f} s'.format(image['IQMon processing time']) }}
            {% end %}<br>
        </td>
    </tr>
    {% end %}


</table>

</body>
</html>
